* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  background: black;
  font-size: 16px;
  color: #fff;
}
.container {
 background-color: rgba(240, 60, 60, 0.8);
}
header {
  margin-bottom: 20px;
}

a, a:focus{
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.site-title {
  font-size: 3em;
}

.nav-menu {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.nav-menu>li {
  float: left;
  position: relative;
  display: block;
}
.nav-menu>li>a {
  padding: 10px 15px;
  font-weight: bold;
}

.centered {
  text-align: center;
}

#pizzaSize {
  font-weight: 800;
}

.mover {
  position: fixed;
  width: 256px;
  z-index: -1;
}

.randomPizzaContainer {
  float: left;
  display: flex;
  height: 325px;
}

.randomPizzaContainer:after {
  content: "";
  display: table;
  clear:both;
}
